body {
	margin:0;
	height:100vh;
	font-family:arial;
}
.container {
	display:flex;
	height:100%;
	flex-direction:column;
}
nav {
	height:40px;
	background-color:#CCC;
	display:flex;
}
section {	
	flex:1;
	display:flex;
}
footer {
	height:84px;
}
nav ul,
nav li {
	margin:0;
	padding:0;
	list-style:none;
}
nav ul {
	display:flex;
	flex:1;
}
nav li {
	flex:1;
	height:100%;
	text-align:center;
	line-height:40px;
	cursor:pointer;
	display: flex;
}
nav li:hover {
	background-color:#DDD;
}
nav li.active {
	background-color:#EEE;
	font-weight:bold;
}
nav li .group_close {
	width: 30px;	
}
nav li .group_name {
	flex: 1;	
}

.add_tab {
	flex: none;
	font-size:30px;
	border: 0;
	cursor: pointer;
	width:40px;
	background-color:#999;
}
.add_tab:hover {
	color: rgb(101, 102, 100);
}
.modal_bg {
	background-color:rgba(0, 0, 0, 0.6);
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:99;
}
.modal_area {
	max-width:500px;
	padding:20px;
	margin:20px auto;
	background-color:#FFFFFF;
	border-radius:5px;
	display: flex;
  flex-direction: column;
}
#groupList button {
	display:block;
	font-size:15px;
	border:1px solid #CCC;
	background-color:#FFF;
	height:40px;
	width:100%;
	text-align:left;
	cursor:pointer;
}
.btn_x button {
	padding: 5px 10px;
}
.btn_x {
	display: flex;
  justify-content: space-between;
}
#groupList button:hover {	
	background-color:#EEE;	
}
.active_group {
	background-color:#EEE !important; 
}
section .messages {
	flex:1;
	overflow-y:auto;/*Barra de rolagem vertical*/
	height: calc(100vh - 100px);/*pra aparecer o footer*/
}
.message {
	padding:10px;
	border-bottom:1px solid #DDD;
}
.m_info {
	margin-bottom:5px;
}
.m_sender {
	font-weight:bold;
	font-size:14px;
	color:#000;
}
.m_date {
	font-size:12px;
	color:#777;
}
.m_body {
	font-size:12px;
}

.sender_area {
	display:flex;
	height:40px;
	border:2px solid #999;
	margin:20px;
	margin-top: 0px;
	border-radius:5px;
	overflow:hidden;
}
#sender_input {
	border:0;
	font-size:13px;
	color:#000;
	padding-left:10px;
	outline:0;
	flex:1;
}
.sender_tools {
	width:40px;
}
.sender_tool {
	width:40px;
	height:40px;
	background-color:#CCC;
}
#newGroupName {
	width: 99%;
	height: 30px;
}